@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prompt&display=swap");

*,
*::backdrop,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  align-items: center;
  color: #7e22ce;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: #f9fafb;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover:before {
  background-color: #d1d5db;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: " ";
  position: absolute;
  border-radius: 50px;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #1e293b;
}

.winning_message {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  display: none;
}

.winning_message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid #1e293b;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin-top: 20px;
  color: #1e293b;
}

.winning_message button:hover {
  background-color: #1e293b;
  border-color: white;
  color: white;
}

.winning_message.show {
  display: flex;
}
